@import "tailwindcss";
@import "./square-background.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-londrina-shadow: var(--font-londrina-shadow);
  --font-londrina-solid: var(--font-londrina-solid);
}

@layer components {
  .testo-nero {
    @apply text-gray-800;
  }
  .testo-bianco {
    @apply text-gray-100;
  }
  .testo-titolo {
    @apply font-bold font-londrina-solid text-4xl;
  }
  .testo-sottotitolo {
    @apply font-bold font-londrina-solid text-2xl;
  }
  .testo-normale {
    @apply font-bold font-londrina-solid text-xl;
  }
  .animation-scale {
    @apply transition-all duration-200 hover:scale-105;
  }
  .border-nero {
    @apply border-4 border-gray-800;
  }
  .border-with-focus {
    @apply border-4 border-gray-800 focus:border-4 focus:border-blue-500 focus:outline-none;
  }

  .custom-checkbox {
    @apply relative h-6 w-6 cursor-pointer appearance-none border-4 border-gray-800 bg-white transition-all duration-200;
  }
  .custom-checkbox:checked {
    @apply bg-blue-500 border-blue-500;
  }
  .custom-checkbox::after {
    content: "";
    @apply absolute left-1/2 top-1/2 h-2 w-1 -translate-x-1/2 -translate-y-1/2 rotate-45 border-b-2 border-r-2 border-white opacity-0 transition-all duration-200;
  }
  .custom-checkbox:checked::after {
    @apply opacity-100;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
