/* html,
body,
#root,
#storybook-root {
  height: 100%;
  padding: 0 !important;
  margin: 0;
} */

:root {
  --font-geist-sans: "Geist", sans-serif;
  --font-geist-mono: "Geist Mono", monospace;
  --font-londrina-shadow: "Londrina Shadow", cursive;
  --font-londrina-solid: "Londrina Solid", cursive;
}

body {
  background-color: white;
}
